@import "common.css";
.more-icon{
    width: 1em !important;
    height: 1em;
    line-height: 1em;
}
.ellipsis-small{
    font-size: small;
}
/*#6e767d*/
.my-btn{
    background-color: var(--button-color);
    color: var(--font-color);
}

.follow-btn{
    position: absolute;
    right: 10px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.recomm-text{
    position: relative;
    z-index: 2;
}

.text-in-image{
    bottom: 10px;
    left: 10px;
}
.w-85{
    width: 85%;
}
.w-15{
    width: 15%;
}