@import "common.css";
.more-icon{
    width: 1em !important;
    height: 1em;
    line-height: 1em;
}
.ellipsis-small{
    font-size: small;
}
/*#6e767d*/
.my-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.follow-btn{
    position: absolute;
    right: 10px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.recomm-text{
    position: relative;
    z-index: 2;
}

.text-in-image{
    bottom: 10px;
    left: 10px;
}
.w-85{
    width: 85%;
}
.w-15{
    width: 15%;
}

.active{
    font-weight: bold;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border: 0px !important;
}
.nav-link .ac{
    border-bottom: solid 2px blue !important;
}

.custom-border{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
.active-tab-border{
    border-bottom: 4px solid var(--ternary-color);
}

.width-35p{
    width: 35px;
}